﻿<h2>Lista de Categorias</h2>

<button id="listProductsButton" class="btn btn-primary">Listar Productos</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se llenará la tabla con los estudiantes -->
    </tbody>
</table>
